.contact-info {
  background-color: #e8e8e8;
  padding: 20px 0;
}

.contact-info span {
  padding: 5px;
  background-color: #FFF;
}

.table {
  font-size: 18px;
  border-color: #000!important;
  border: 1px solid #000!important;
}

.table th {
  width: 30%;
  border-right: 1px solid #000!important;
  background-color: #000;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  padding: 15px;
}

.table td{
  padding: 15px;
}

@media screen and (max-width: 726px) {
  .recruit-section .container {
    width: 90vw;
  }
}